# Sorting Madonna Songs
This project will randomly order the entire backlog of Madonna's songs. This was motivated following a colleague's offhand remark about one's favourite song being *Material Girl* by Madge, which triggered another colleague to provide the challenge of ranking all of Madonna's songs.  

In particular, there are two key stages to this random ordering:
1. Assign a random, distinct integer number next to each song to act as its preference ranking
1. Employ a sorting algorithm to sort this list via the preference ranking column just created

Will try a variety of sorting algorithms detailed below
- **Quicksort**
- **Bubble sort**
- **Breadth-first search**
- **Heapsort**
- **Insertion sort**
- **Shell sort**

## Set-up
Need to load in the relevant packages, set-up the right environemnt, and import the dataset.

In [2]:
# Export our environment, "NewEnv" and save it as "anomaly-detection.yml"
!conda env export -n NewEnv -f environment_anaconda.yml

# Check working directory to ensure user notebook is easily transferable
import os
os.getcwd()

'C:\\Users\\a_vis\\Documents\\Data Science\\Projects\\Sorting-Madge-Songs'

In [3]:
# Import required libraries
import numpy as np
import pandas as pd
import xlrd
import csv

### Convert to CSV
Do not have Excel installed so cannot convert it via that. Instead, get round it via the *xlrd* and *csv* packages.
Note, could directly read in Excel file and play with that. However, learn less that way!

Code for function was taken from this [link](https://stackoverflow.com/questions/9884353/xls-to-csv-converter). However, first encountered an issue on using subfolders. This was resolved in this [link](https://stackoverflow.com/questions/7165749/open-file-in-a-relative-location-in-python). Then encountered an issue concerning the reading of entries as `bytes` instead of `str` which was resolved in this [link](https://stackoverflow.com/questions/33054527/typeerror-a-bytes-like-object-is-required-not-str-when-writing-to-a-file-in).

In [4]:
def csv_from_excel(file_input, file_output, sheet_index):

    wb = xlrd.open_workbook(filename = file_input)
    sh = wb.sheet_by_index(sheet_index)
    file_csv = open(file = file_output, mode = 'wt')
    wr = csv.writer(file_csv, quoting = csv.QUOTE_ALL)

    for rownum in range(sh.nrows):
        wr.writerow(sh.row_values(rownum))

    file_csv.close()

In [5]:
# run function to output .csv file
csv_from_excel(file_input = 'data\songs_madonna.xlsx', file_output = 'data\songs_madonna.csv', sheet_index = 0)

### Data Wrangle
Load in our .csv file so that we can add distinct random numbers as a column which we will use to sort on.

Note: File is encoded as *ANSI* which is `mbcs` in the `pd.red_csv()`.

In [12]:
# import data
data_madge = pd.read_csv(filepath_or_buffer = 'data\songs_madonna.csv', encoding = 'mbcs')

In [13]:
# display data
data_madge.head()

                              Songs  Avison
0                        4 Minutes      NaN
1                     American Life     NaN
2                      American Pie     NaN
3                             Angel     NaN
4  Another Suitcase in Another Hall     NaN

In the code below, are following a naive method for creating a column of distinct random numbers. This will be in steps:

1. Store the number of rows in a variable.
1. Generate a random sample without replacement using the number of rows as our region of interest.
1. Bind this random sample onto our `data_madge` dataframe.

In [ ]:
# import package for random-sampling
import random

In [16]:
# set random seed
seed_random = np.random.RandomState(123)

# 1. store number of rows in a variable
n_rows = len(data_madge.index)

# 2. generate random sample without replacement
# note: using try-catch logic to ensure we generate a sample
try:
    sample_random = random.sample(population = range(0, n_rows), k = n_rows)
    print('Random sample generated is of object type: ', type(sample_random))
except ValueError:
    print('Sample size exceeded population size.')

# 3. bind random sample onto dataframe
data_madge['Preference_Avision'] = sample_random
data_madge = data_madge[['Songs', 'Preference_Avision']]

In [45]:
# check new dataframe
data_madge.head(57)

                                Songs  Preference_Avision
0                          4 Minutes                   81
1                       American Life                   5
2                        American Pie                  37
3                               Angel                   8
4    Another Suitcase in Another Hall                  35
5                            Bad Girl                  31
6                  Beautiful Stranger                  34
7                       Bedtime Story                  15
8                  Bitch I'm Madonna                   51
9                          Borderline                  16
10                         Burning Up                  12
11                       Bye Bye Baby                  24
12                Causing a Commotion                  82
13                        Celebration                  38
14                            Cherish                  40
15                   Crazy for You[d]                  33
16                        Dear Jessie                  55
17                  Deeper and Deeper                  47
18                    Die Another Day                  44
19         Don't Cry for Me Argentina                  62
20                      Don't Tell Me                  39
21                       Dress You Up                  21
22  Drowned World/Substitute for Love                  10
23                            Erotica                  25
24                       Everybody[a]                  45
25                   Express Yourself                  71
26                              Fever                   0
27                             Frozen                  18
28                            Gambler                  32
29                    Get Together[k]                  56
30                          Ghosttown                  19
31                  Girl Gone Wild[m]                  23
32                       Give It 2 Me                  28
33           Give Me All Your Luvin'                   79
34                        Hanky Panky                  43
35                            Hey You                  42
36                      Hold Tight[p]                  72
37                         Holiday[b]                  41
38                          Hollywood                  70
39                       Human Nature                  78
40                            Hung Up                  65
41                      I'll Remember                  52
42                 Into the Groove[e]                   6
43                            Jump[l]                  26
44                    Justify My Love                   1
45                Keep It Together[h]                  14
46                     La Isla Bonita                  67
47                      Like a Prayer                   9
48                      Like a Virgin                  77
49                       Live to Tell                  68
50                 Living for Love[o]                  22
51       Love Don't Live Here Anymore                  73
52                  Love Profusion[j]                  74
53                      Lucky Star[c]                  66
54                     Masterpiece[n]                  49
55                      Material Girl                  11
56               Me Against the Music                  20

#### Specific preferences
Whilst broadly indifferent between the vast majority of Madge's discology, two songs stand out to the author:
- Material Girl
- La Isla Bonita
What one wants to do is thus ensure that these two songs have the highest two preference rankings, `0` and `1`.

In [128]:
# 1. find songs randomly classified as favourites
value_top_preferences_random = [0, 1]
data_top_random = data_madge[data_madge.Preference_Avision.isin(value_top_preferences_random)]

In [129]:
# 2. find 'Material Girl' and 'La Isla Bonita'
songs_top_own = ['Material Girl', 'La Isla Bonita']
data_top_own = data_madge[data_madge.Songs.isin(songs_top_own)]

In [130]:
# 3. rename columns so can distinguish them
data_top_random = data_top_random.rename(columns = {"Songs": "SongsRandom", 
                                                    "Preference_Avision": "PreferenceRandom"})
data_top_random

        SongsRandom  PreferenceRandom
26            Fever                 0
44  Justify My Love                 1

In [131]:
data_top_own = data_top_own.rename(columns = {"Preference_Avision": "Preference"})
data_top_own

             Songs  Preference
46  La Isla Bonita          67
55   Material Girl          11

In [132]:
# 3. append dataframes together
# need to reset indices to do so
data_temp = pd.concat(objs = [data_top_own.reset_index(drop = True), 
                              data_top_random.reset_index(drop = True)],
                      axis = 1)
data_temp

            Songs  Preference      SongsRandom  PreferenceRandom
0  La Isla Bonita          67            Fever                 0
1   Material Girl          11  Justify My Love                 1

In [133]:
# 4.i select correct preference columns now to accurately map preferences
data_top_random = data_temp.loc[:, ['SongsRandom', 'Preference']]
data_top_own = data_temp.loc[:, ['Songs', 'PreferenceRandom']]

# 4.ii rename columns so we can append/union
data_top_random = data_top_random.rename(columns = {"SongsRandom": "Song"})
data_top_own = data_top_own.rename(columns = {"PreferenceRandom": "Preference",
                                              "Songs": "Song"})

del(data_temp)

In [134]:
# 5. append/union two dataframes together
pd.concat(objs = [data_top_random, data_top_own], ignore_index = True)

              Song  Preference
0            Fever          67
1  Justify My Love          11
2   La Isla Bonita           0
3    Material Girl           1